html{font-family:"Microsoft YaHei UI","Microsoft YaHei",sans-serif;font-size:14px;color:#333;}
html,body,div,object,iframe,applet,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,address,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video,progress{margin:0;padding:0;border:0;vertical-align:baseline}
li{list-style:none}

a{background-color:transparent;text-decoration:none}
a:active,a:hover{outline:0}
img{border:0}

.wd1200{
	width:1200px;
	margin:0 auto;
}